# Checkpoint 0 
## Do not remove comments that start with: "# @@@" (Those are question tags)

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [4]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a

In [5]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
slice = b[3:]
slice

[4, 5, 6]

In [6]:
# @@@ Question 3: Create a list of numbers from 1 to 20
c = list(range(1,21))
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
even = list(range(2,101,2))
even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [8]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def func(a,b):
    return a/b

func(10,5)

2.0

In [9]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
vals = list(range(1,31))
for x in vals:
    if x % 3 == 0 and x % 5 ==0:
        print('fizzbuzz')
    elif x % 3 == 0:
        print('fizz')
    elif x % 5 == 0:
        print('buzz')
    else:
        print(x)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [10]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
dict = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [11]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
starbucks = pd.read_csv('starbucks.csv')

In [45]:
# @@@ Question 9: select all rows with more than and including 400 calories
for i in range(len(starbucks['calories'])):
    if starbucks['calories'][i]>=400:
        print(i)

81
83
84
85
128
214
215
216

In [13]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content
for i in range(len(starbucks['vitamin c'])):
    if starbucks['vitamin c'][i] > starbucks['iron'][i]:
        print(i)

11
14
35
38
69
72
75
77
78
81
84
118
119
121
122
124
125
127
128
169
170
171
172
175
176
177
178
179
180
229
230
232
233
235
236

In [41]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
starbucks['Caffeine per calories'] = starbucks['caffeine'] / starbucks['calories']

In [39]:
# @@@ Question 12: what is the average calorie across all items?
starbucks['calories'].mean()

193.87190082644628

In [33]:
# @@@ Question 13: how many different categories of beverages are there?
starbucks['beverage_category'].nunique()

9

In [17]:
# @@@ Question 14: what is the average # calories for each beverage category?
starbucks.groupby('beverage_category')['calories'].mean()

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64